<section class="flex flex-center">
  <div class="flex-none sm-col-5 mx-auto py2">
    <h1 class="mt0">Sign up</h1>
    <div class="border border-silver rounded p2">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="py1">
          <%= f.label :email, :class => 'hide' %>
          <%= f.email_field :email, autofocus: true, :class => 'block col-12 field not-rounded y-group-item', :placeholder => 'Email'%>

          <%= f.label :name, :class => 'hide' %>
          <%= f.text_field :name, :class => 'block col-12 field not-rounded y-group-item', :placeholder => 'Name'%>

          <%= f.label :password, :class => 'hide' %>
          <%= f.password_field :password, autocomplete: "off", :class => 'block col-12 field not-rounded y-group-item', :placeholder => 'Password'%>

          <%= f.label :password_confirmation, :class => 'hide' %>
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'block col-12 field not-rounded y-group-item', :placeholder => 'Confirm Password'%>
        </div>

        <div class="py1">
          <%= f.button "Sign up", :class => 'button block full-width button-big bg-gray'%>
        </div>
      <% end %>

    </div>
  </div>
</section>
