<div class="row">

  <div class="col s12">

    <div class="row">
      <div class="col s12 center">
        <h2>Log in</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <div class="z-depth-3 col s6 offset-s3" style="padding: 1.5rem 2rem 1.5rem;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="group input-field col s12">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, :class => 'validate' %>
            </div>

            <div class="group input-field col s12">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off"%>
            </div>

            <div class="group col s12">
              <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end -%>
            </div>

            <div class="group col s12">
              <%= f.button "Log in", :class => 'btn waves-effect waves-light' %>
              <%= link_to "Sign up", new_registration_path(resource_name), :class => 'btn waves-effect waves-light'%><br />
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
