<section class="flex flex-center">
  <div class="flex-none sm-col-5 mx-auto py2">
    <h1 class="mt0">Login</h1>
    <div class="border border-silver rounded p2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'clearfix') do |f| %>
      <div class="sm-col-12">
      <%= hidden_field_tag 'SAMLRequest', params[:SAMLRequest] %>
      <%= hidden_field_tag 'RelayState', params[:RelayState] %>

      <%= f.label :email, :class => 'hide' %>
      <%= f.email_field :email, autofocus: true, :class => 'block col-12 field not-rounded y-group-item' , :placeholder => 'Email'%>
      <%= f.label :password, :class => 'hide' %>
      <%= f.password_field :password, autocomplete: "off", :class => 'block col-12 field not-rounded y-group-item', :placeholder => 'Password'%>
      </div>

      <div class="py1">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end -%>
      </div>

      <div class="py1">
        <%= f.button "Log in", :class => 'button block full-width button-big bg-gray'%>
      </div>

    <% end %>
    </div>
  </div>
</section>
